{% comment %}
<div class="trigger">
    {% for my_page in site.pages %} {% if my_page.title %}
    <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a> {% endif %} {% endfor %} {% endcomment %}
<header id="site-header"{% if page.layout == 'home' %} class="cover-header"{% endif %}>
    {% if page.layout == 'home' %}
    <div class="header-lead">
        <div class="container">
            <h1><strong>MACINTOSH</strong> HELPER</h1>
            <span class="header-line"></span>
            <h3>My blog, videos and work</h3>
        </div>
    </div>
    {% endif %}
    <nav class="navbar" id="navbarMain">
        <div class="container">
            <a class="site-title" href="#">MACINTOSH HELPER</a>
            <ul>
                <li>
                    <a href="#site-header">HOME</a>
                </li>
                <li>
                    <a href="#section-blog">BLOG</a>
                </li>
                <li>
                    <a href="#section-video">VIDEOS</a>
                </li>
                <li>
                    <a href="#section-work">MY WORK</a>
                </li>
                <!-- <li>
                    <a href="#section-about">ABOUT</a>
                </li> -->
                <!-- <li>
                    <a href="#section-contact">CONTACT</a>
                </li> -->
            </ul>
        </div>
    </nav>
    <button id="menu-icon">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

</header>
