{% comment %}
<div class="trigger">
    {% for my_page in site.pages %} {% if my_page.title %}
    <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a> {% endif %} {% endfor %} {% endcomment %}
<header id="site-header"{% if page.layout == 'home' %} class="cover-header"{% endif %}>
    <div class="container">
        {% if page.layout == 'home' %}
        <div class="header-lead">
            <h1><strong>MACINTOSH</strong> HELPER</h1>
            <span class="header-line"></span>
            <h3>My blog, videos and work</h3>
        </div>
        {% endif %}
        <a class="site-title" href="{{ " / " | relative_url}}">MACINTOSH HELPER</a>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#site-header">HOME</a>
                </li>
                <li>
                    <a href="#blog">BLOG</a>
                </li>
                <li>
                    <a href="#youtube">YOUTUBE</a>
                </li>
                <li>
                    <a href="#mywork">MY WORK</a>
                </li>
                <li>
                    <a href="#about">ABOUT</a>
                </li>
                <li>
                    <a href="#contact">CONTACT</a>
                </li>
            </ul>

        </nav>
    </div>
    <button id="menu-icon">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

</header>
