@import
  "macintoshhelper/config"
;
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ----------------- start: CSS RESET -----------------
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----------------- end: CSS RESET ----------------- */
/* ----------------- start: GLOBAL CHANGES ---------------- */
* {
    box-sizing: border-box;
}
nav {
    a, p {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
    }
}
p, body {
    font-family: 'Droid Serif', sans-serif;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}
/* ----------------- end: GLOBAL CHANGES ---------------- */
.text-center {text-align: center;}

.container {
    margin: 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    @media (min-width: 768px) {
        width: 90%;
    }
/*    @media (min-width: 992px) {
        width: 80%;
    }*/
    @media (min-width: 1200px) {
        width: 80%;
    }
}
body > header {
    height: 100px;
    background-color: white;
    border-bottom: solid 1px #dcdcdc;
    .site-title {
        font-family: 'Droid Sans';
        font-size: 18px;
        font-weight: bold;
        padding: 41px;
        position: absolute;
        color: #000;
        text-decoration: none;
        @media (max-width: 992px) and (min-width: 768px) {
            display: none;
        }
    }
    nav {
        position: absolute;
        width: 100%;
        bottom: 0;
        @media (max-width: 768px) {
            display: none;
            background-color: white;
            height: 100%;
            width: 100%;
            position: absolute;
            text-align: center;
        }
    }
    nav ul {
        float: right;
        li {
            float: left;
            a {
                display: block;
                padding: 41px 15px;
                color: #313131;
                text-decoration: none;
                font-weight: 300;
                font-size: 18px;
                &:hover {
                    color: currentColor;
                    text-decoration: underline;
                }
            }
            @media (max-width: 768px) {
                float: none;
            }
        }
        @media (max-width: 768px) {
            display: inline-block;
            margin: 0 auto;
            float: none;
        }
    }
}
.cover-header {
    height: 50%;
    //background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.25) 100%), url(https://macintoshhelper.com/img/Coverv1.0.jpg) no-repeat scroll center center/cover;
    background: #050f12;
    position: absolute;
    left: 0;
    right: 0;
    /*.container {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
    }*/
    li > a {
        color: #fff;
        font-weight: 300;
        &:hover {
            color: #fff;
        }
    }
    .site-title {
        color: #fff;
    }
}

header.scrolled {
    .navbar {
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: inherit;
        display: block;
        z-index: 1;
        height: 70px;
        border-bottom: solid 1px #dcdcdc;
    }

    a, .site-title {
        color: black;
        padding: 26px 15px;
        transition: color 1s;

        &:hover {
            color: inherit;
        }
    }

    .header-lead {
        h1 {
            position: fixed;
            top: 0;
            z-index: 2;
            color: black;
            font-size: 24px;
            padding: 23px;
        }

        strong {
            border-bottom: none;
        }
    }
}
#menu-icon {
    display: none;
    position: absolute;
    right: 5%;
    top: 0;
    background: white;
    border: none;
    margin: 15px;
    @media (max-width: 768px) {
        display: block;
    }
}
#menu-icon:focus {
    outline: none;
}
.nav-toggle {
    display: block !important;
}
#menu-icon .icon-bar {
    background: none repeat scroll 0% 0% #000;
}
#menu-icon .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
#menu-icon .icon-bar+.icon-bar {
    margin-top: 4px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
body > main > section {
    padding: 70px 0px;
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }
}

.header-lead {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    h1 {
        font-size: 64px;
        border-bottom: solid 4px white;
        display: inline-block;
    }
    h3 {
        margin-top: 30px;
        font-size: 28px;
        margin-left: -300px;
    }
    h1, h3 {
        color: white;
    }
}


main.cover-main {
    padding-top: 50vh;
}
#section-header {
    //background: transparent url('/assets/img/section-header-bg.jpg') no-repeat scroll center center/cover;
    height: 50vh;
    padding: 0px;
    .header-grid {
        width: 33.333333%;
        height: calc(50vh - 140px);
        display: inline-block;
        margin-top: 70px;
        position: relative;
        float: left;
          h2, h3 {
              color: #fff;
          }
        }
    .header-grid-meta {
        position: absolute;
        bottom: 0;
        padding: 15px;
        width: 100%;
        h3 {display: none;} // temp
        a {text-decoration: none;}
    }
    #header-grid-blog {
        background-color: rgba(52, 185, 95, 0.34);
        background: url('/assets/img/section-header-blog.jpg') no-repeat scroll center center/cover;
        .header-grid-meta {
            background-color: #167407;
        }
    }
    #header-grid-video {
        background-color: rgba(218, 76, 64, 0.5);
        background: url('/assets/img/section-header-video.jpg') no-repeat scroll center center/cover;
        .header-grid-meta {
            background-color: #bb3f3f;
        }
    }
    #header-grid-mywork {
        background-color: rgba(14, 41, 48, 0.8);
        .header-grid-meta {
            background-color: #050f12;
        }
    }
}
section {
    min-height: 100vh;
    background: white;
    color: black;
    .blog-container {
        display: flex;
        margin-top: 75px;
        height: 300px;
        @media (max-width: 544px) {
            flex-wrap: wrap;
            .blog-box {
                margin: 20px !important;
            }
        }
        .blog-box {
            display: flex;
            align-items: center;
            flex-flow: wrap;
            width: 100%;
            background: white;
            margin: 0px 20px;
            padding: 30px;
            color: black;
            a {
                color: #ffffff;
                background-color: #050f12;
                padding: 20px;
            }
            h3 {
                text-transform: uppercase;
            }
            h4 {
                font-size: 30px;
                font-family: 'Roboto';
                text-transform: uppercase;
            }
            h3, a, p {
                width: 100%;
            }
        }
    }
}
section:nth-child(even) {
    background-color: rgb(54, 54, 54);
    color: white;
}

#section-video {
    .video-container {
        display: flex;
    }
    .video-box {
        flex: 1;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
        margin: 20px 20px;
        border-radius: 2px;
        .video-cover {
            height: 200px;
            background-size: cover !important;
            background: #050f12;
            padding: 20px;
            position: relative;
            margin-bottom: 20px;
            h3 {
                position: absolute;
                bottom: 20px;
                color: white;
            }
        }
        p {
            padding: 20px;
            color: rgba(119, 119, 119, 1);
            font-weight: 200;
            font-family: 'Roboto';
            min-height: 72px;
        }
        .video-stats {
            padding: 20px;
            p {
                padding: 20px 0px;
                border-top: solid 1px rgb(238, 238, 238);
            }
            h4 {
                padding: 20px 0px;
            }
        }
        h4 {
            text-align: left;
        }
        .video-more {
            display: flex;
            padding: 20px;
            a {
                border-radius: 2px;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 15px;
                color: white;
                text-decoration: none;
                font-family: 'Roboto';
            }
            .btn-watch {
                background: rgb(23, 199, 230);
                margin-right: auto;
            }
            .btn-subscribe {
                background: rgb(230, 33, 23);
                margin-left: auto;
            }
        }
    }
}

#section-work {
    .work-container {
        display: flex;
        margin-top: 75px;
        min-height: 300px;
        @media (max-width: 544px) {
            flex-wrap: wrap;
            .work-box {
                margin: 20px !important;
                width: 100%;
            }
        }
        .work-box {
            width: 100%;
            background: white;
            margin: 0px 20px;
            padding: 30px;
            color: black;
            h3 {
                text-transform: uppercase;
                margin-bottom: 20px;
            }
            h4 {
                font-size: 20px;
                font-family: 'Roboto';
                text-transform: uppercase;
                text-align: left;
                margin-bottom: 16px;
                margin-top: 16px;
            }
            h3, p {
                width: 100%;
            }
            li {
                list-style-type: disc;
                margin: 10px 0px 0px 20px;
            }
        }
    }
    table {
        margin-top: 20px;
    }
}

footer {
    background: #050f12;
    color: white;
    padding: 40px 0px;
    .container {
        display: flex;
    }
    .footer-info {
        flex: 1;
    }
    a {
        color: white;
    }
    h2 {
        margin-bottom: 20px;
    }
}
