---
layout: default
---
{% comment %}
<div class="home">

    <h1 class="page-heading">Posts</h1> {{ content }}

    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        </li>
        {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml " | relative_url }}">via RSS</a></p>

</div>{% endcomment %}

<section id="section-header">
    <div class="container">
        <div class="header-grid" id="header-grid-blog">
            <div class="header-grid-meta">
                <h2>Blog</h2>
                <h3>Articles on tech and travel</h3>
            </div>
        </div>
        <div class="header-grid" id="header-grid-video">
            <div class="header-grid-meta">
                <h2>Video</h2>
                <h3>Tech guides and travel vlogs</h3>
            </div>
        </div>
        <div class="header-grid" id="header-grid-mywork">
            <div class="header-grid-meta">
                <h2>My Work</h2>
                <h3>Web design and development</h3>
            </div>
        </div>
    </div>
</section>

<section id="section-blog">
    <div class="container">
        <h2>Tech Blog Posts</h2>
    </div>
</section>
